name: Autograding Tests
on:
  - push
  - workflow_dispatch
  - repository_dispatch

permissions:
  checks: write
  actions: read
  contents: read

jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
      # 1. Checkout repo
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. Install dependencies
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y g++ cmake libgtest-dev make
          # Build Google Test from source
          cd /usr/src/gtest
          sudo cmake CMakeLists.txt
          sudo make
          sudo cp *.a /usr/lib
          cd $GITHUB_WORKSPACE

      # 3. Build test binary using Makefile
      - name: Build tests
        run: make all

      # 4. Run tests and capture results
      - name: Run tests
        id: student_tests
        run: make test

      # 5. Autograding reporter
      - name: Autograding Reporter
        uses: classroom-resources/autograding-grading-reporter@v1
        with:
          runners: student_tests
        env:
          STUDENT_TEST_RESULTS: ${{ steps.student_tests.outputs.result }}
